<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate Restaurants</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      height: 100vh;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      /* Adjust width as needed */
    }

    .card ul {
      list-style-type: none;
      padding: 0;
    }

    .card li {
      margin-bottom: 10px;
    }

    .card a {
      text-decoration: none;
      color: #007bff;
      /* Link color */
    }

    .card a:hover {
      text-decoration: underline;
    }

    a,
    a:hover {
      text-decoration: none;
    }

    .content {
      margin-top: 100px;
      margin-left: 100px
    }

    .margin-top {
      margin-top: 100px;
    }

    .card {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .restaurant-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .ratings {
      font-size: 18px;
      color: #666666;
    }
  </style>
</head>